@mixin strong-font {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: red;
}
body {
    @include strong-font;
    text-decoration: none;
    background-color: #515a5a;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #333;
  }