.transformation_card {
    &-img {
       width: 500px; 
       height: 700px;
    }
    &-items {
        width: 80%;
       display: flex;
       justify-content: space-between; 
       align-items: center;
    }
}