.transformation_card {
    &-img {
        width: 430px;
        height: 600px;
    }

    &-items {
       
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 40px 75px;
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
}