@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";


.footer {

  width: 1512px;
  height: 503px;
  margin: auto;
  background-color: #1E1E1E;
  color: white;

  &_container {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }

  &_logo {
    width: 130px;
    height: 130px;
  }

  &_picto {

    & i {
      font-size: 36px;
      color: white;
      margin-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &_divider {
    margin-top: 100px;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF33;
  }
  &_rights-reserved {
    margin-top: 30px;
    text-align: center;
  }
}