
@import "../../../styles/mixins.scss";


.transformation {
 

    
    width: 100%;

    &-container {
        margin: auto;
        margin: auto;
        width: 1600px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    &-title {
        padding-bottom: 40px;
        @include strong-font2;

    }
}

.versus_logo {
    width: 200px;
    height: 230px;
}