@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";





.persoCard {



    &_container {
        padding-top: 10px;
        max-height: 100%;
        margin: auto;
    }

    &_content {

        width: 1452px;
        display: flex;
        margin: auto;
        display: flex;
        flex-direction: column;
        // padding-top: 90px;

    }


    &_text {
        width: 1200px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        margin: auto;


        & h2 {
            @include strong-font2;
            text-align: center;
        }

        & p {

            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            text-align: center;
            margin-bottom: 130px;
        }
    }

    &_list {
        width: 1452px;
        display: flex;
        justify-content: center;
        align-items: self-start;
        gap: 25px;
    }
}