@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";




.priceCard {
    width: 430px;
    height: 650px;
    padding: 25px 25px 15px 25px;

    // border-radius: 16px;
    border: 2px solid #FFFFFF1A;
    position: relative;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    @include text-font;

    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;




    &_title {
        text-align: left;
        font-size: 26px;
        font-weight: 500;
        line-height: 44px;
    }

    &_description {
        opacity: 90%;
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        margin-top: -10px;
        margin-bottom: 20px;
    }

    &_price {
        display: block;
        text-align: left;
        @include strong-font2;
        margin-bottom: 25px;

    }

    &_note {
        opacity: 90%;
        display: block;

    }

    &_layer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 30px;
        gap: 20px;

        &-detail {
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            text-align: left;
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }



    &-icon {
        color: #10B519;
        font-size: 25px;
    }
}


.argent-card {
    box-shadow: 0px 0px 35px 0px #73818a; // Ajouter !important pour tester
}

.or-card {
    box-shadow: 0px 0px 35px 0px #9f7e51; // Exemple pour carte Gold
}

.diamant-card {
    box-shadow: 0px 0px 35px 0px #82a4da;

}

.maitre-card {
    box-shadow: 0px 0px 35px 0px #b9090a;
}