@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";



.price_card {
    width: 424px;
    height: 646px;
    border-radius: 16px;
    border: 1px solid #FFFFFF1A;
    padding: 15px;

    h4 {
        text-align: left;
        font-size: 24px;
        font-weight: 500;
        line-height: 44px;
        margin-left: 10px;
        margin-top: 18px;
        
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        margin-bottom: 15px;
        margin-top: 25px;
        margin-left: 10px;
    }

    h5 {
        text-align: left;
        @include strong-font2;
        margin-bottom: 10px;
        margin-top: 24px;
        margin-left: 10px;
    }
    span {
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        margin-left: 10px;
        margin-top: 20px;
    }

    ul {

    }

    li {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        margin-bottom: 5px;
    }
}