@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.pricing_plan_section {
    width: 1452px;
    min-height: 846px;
    border: 1px solid #FFFFFF1A;
    border-radius: 20px;
    background-color:#1E1E1E;
    margin: auto;
}