@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";


.hero {
    color: white;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 25px 0 25px 0;

    &_leftSide {
        position: absolute;
        top: 230px;
        left: 115px;
        width: 648px;
        display: flex;
        flex-direction: column;
        gap: 55px;
        z-index: 3;
        justify-content: flex-start;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, .3);

        & h1 {
            font-size: 130px;
            font-weight: 400;
            line-height: 120px;
            text-align: left;
            @include strong-font1
        }

        & p {
            @include text-font;
            margin-bottom: 15px;
        }
    }

    &_container {
        position: absolute;
        bottom: 20px;
        right: 135px;
        width: 70vw;
        height: 86vh;
        margin: auto;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.2) 3px 9px 18px;
        &-img {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 2;

            &--slideBot {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 30%;
                z-index: 3;
            }

            &--slideTop {

                position: absolute;
                right: 0;
                bottom: 0px;
                width: 23%;
                z-index: 3;

            }

            &--bckgrd {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 2;
                top: 0;
                left: 0;
                opacity: 90%;
                background-image: linear-gradient(270deg, rgba(30, 30, 30, 0) 39.35%, #1E1E1E 100%);
            }

            &--mainBtn {
                position: absolute !important;
                bottom: 40px;
                right: 45px;
                z-index: 3;
            }
        }

        &-socialLink {
            width: 200px;
            bottom: 30px;
            right: 70px;
            z-index: 2;
            position: absolute;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            font-size: 10px;
        }

        .icon-3d {
            padding: 15px;
            -webkit-animation: icon3d 200ms 10;
            animation: icon3d 200ms 10;
            color: #fff;

            &:hover {
                -webkit-animation: icon3d 200ms infinite;
                animation: icon3d 200ms infinite;
            }
        }

        @keyframes icon3d {
            0% {
                text-shadow: 5px 4px $blue-color, -5px -6px $red-main;
            }

            25% {
                text-shadow: -5px -6px $blue-color, 5px 4px $red-main;
            }

            50% {
                text-shadow: 5px -4px $blue-color, -8px 4px $red-main;
            }

            75% {
                text-shadow: -8px -4px $blue-color, -5px -4px $red-main;
            }

            100% {
                text-shadow: -5px 0 $blue-color, 5px -4px $red-main;
            }
        }


    }
}