@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.home {
    margin-top: 20px;

    & h1 {
        text-align: center;
    }
    .journey {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .pricing_plan_section {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

