@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";



.main_btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 20px 24px 20px 24px;
    width: 240px;
    height: 64px;
    background-color: #E20D0F;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: 500ms;

    &:hover {
        @include red-hover;
    }
}