@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";



.mainBtn {
    position: relative;
    width: 260px;
    height: 70px;
    height: 70px;
    overflow: hidden;
    border: 2px solid white;
    // font-family: 'Lato', sans-serif;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 8px;

    &-text {
        transition: color 0.3s ease; 
    font-weight: 500;

        &:hover {
            color: white;
        }
    }

    &-btn {
        position: relative;
        width: 101%;
        height: 100%;
        background: red;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        


       
        -webkit-mask: url('https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png');
        mask: url('https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png');
        -webkit-mask-size: 3000% 100%;
        mask-size: 3000% 100%;
        -webkit-animation: ani2 0.7 steps(29) forwards;
        animation: ani2 0.7s steps(29) forwards;

        &:hover {
            -webkit-animation: ani 0.7s steps(29) forwards;
            animation: ani 0.7s steps(29) forwards;
            border: none;

            &.mainBtn-text {
                color: #fff;
            }

        }

        &::after {
            content: attr(data-hover-text);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.3s ease;
            color: #fff;
        }

        &:hover::after {
            opacity: 1;
        }

    }
}


@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}