@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    z-index: 9999;

    &_leftside {
        position: absolute;
        z-index: 9998;
        text-align: center;
        left: 75px;

        &.loaded {
            animation: slide-out-left 1000ms ease-out;
            animation-delay: 500ms; // Délai avant que l'animation commence
            animation-fill-mode: forwards; // Garde la position de départ avant le début de l'animation
        }

        &-icon {

            width: 200px;
        }

        &-title {
            margin-top: 20px;
            @include strong-font2
        }
    }

    &_img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 9995;
        right: 0;
        &.loaded {
            animation: slide-out-right 1000ms ease-out;
            animation-delay: 500ms; // Délai avant que l'animation commence
            animation-fill-mode: forwards; // Garde la position de départ avant le début de l'animation
        }
    }

    &_slidertop {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 9996;
        &.loaded {
            animation: slide-out-top 1000ms ease-out;
            animation-delay: 500ms; // Délai avant que l'animation commence
            animation-fill-mode: forwards; // Garde la position de départ avant le début de l'animation
        }
    }

    &_sliderbot {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 9996;
        &.loaded {
            animation: slide-out-bot 1000ms ease-out;
            animation-delay: 500ms; // Délai avant que l'animation commence
            animation-fill-mode: forwards; // Garde la position de départ avant le début de l'animation
        }
    }
}


@keyframes slide-out-left {
    from {
        transform: translateX(0%);
        opacity: 1;

    }

    to {
        transform: translateX(-100%);
        opacity: 0.1;
    }
}
@keyframes slide-out-right {
    from {
        transform: translateX(0%);
        opacity: 1;

    }

    to {
        transform: translateX(100%);
        opacity: 0.1;
    }
}
@keyframes slide-out-top {
    from {
        transform: translateY(0%);
        opacity: 1;

    }

    to {
        transform: translateY(100%);
        opacity: 0.1;
    }
}
@keyframes slide-out-bot {
    from {
        transform: translateY(0%);
        opacity: 1;

    }

    to {
        transform: translateY(-100%);
        opacity: 0.1;
    }
}



