.mySwiper {
  width: 100%;
  height: 800px; /* Ajuste cette hauteur si besoin */
}

.mySwiper img {
  object-fit: cover; /* Pour bien ajuster les images */
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: red; /* Change la couleur selon tes besoins */
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff; /* Personnalisation des boutons */
}
