@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
    background-color: #E20D0F;

}
.nav_overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    color: #fff;
    z-index: 100;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    background: rgba(124, 65, 65, 0.6);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
   
    display: flex;
    justify-content: center;
    align-items: center;
    @include text-shadow;
    @include text-font;

    &.open {
        transform: translateY(0);
    }

    .list {
        height: 40%;
        width: 80%;
        position: relative;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            height: 100px;
            padding: 30px;

            a {
                font-size: 2rem;
                text-decoration: none;
                color: #fff;
                display: block;
                border-bottom: 2px solid transparent;
                transition: all 0.6s ease;

                &:hover {
                    cursor: pointer;
                    border-bottom: 2px solid red;
                }
            }
        }
    }

    .fas {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 2.5rem;
        transition: all 0.3s ease;
        z-index: 9988;

        &:hover {
            cursor: pointer;
            color: #E20D0F;
            transform: scale(1.1) rotate(180deg);
        }
    }
}

.nav {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 9990;
    .fas {
        font-size: 2rem;
        color: white;
        position: absolute;
        top: 20;
        right: 20px;

        &:hover {
            cursor: pointer;
            color: #E20D0F;
        }
    }
    &_logo {
        position: absolute;
        width: 200px;
        height: 200px;
        top: 0;
        left: 115px;

    }
}
