@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

/* Home.css */
.home {
    height: 100vh;
    overflow: hidden; /* Désactive le scrolling vertical */
    position: relative;
  }


  .section {
    opacity: 1;
 
    min-height: 100vh;  /* Ensure the section takes up full viewport */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section-hidden {
    opacity: 0;
  }
  
  .navigation-buttons {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
  }
