@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";


.pricing_plan_section {
    width: 1600px;
    min-height: 700px;
    max-height: 95vh;

    border: 1px solid #FFFFFF1A;
    border-radius: 20px;
    background-color: #1E1E1E;
    margin: auto;
    display: flex;
    gap: 40px;
    padding: 65px;
    justify-content: center;

    &-left {
        margin-right: 50px;
        width: 383px;

        h3 {
            margin-top: 15px;
            @include strong-font2;
            margin-bottom: 45px;
        }

        h4 {

            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            text-align: left;
            margin-bottom: 75px;

        }
    }
}