@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";



.pricingPlan {

width: 100vw;
height: 100vh;
position: relative;

    &_content {

        height: 800px;
        width: 100%;
        background-color: green; // Pour tester si les styles s'appliquent bien
        // margin: auto;
    }
}