.form {
    height: 100vh;
    overflow: hidden; /* Désactive le scrolling vertical */
    position: relative;
    opacity: 0.9;

    &_container {
display: flex;
align-items: center;
    }

    .bckImg {
        position: absolute;
        width: 100%;
        object-fit: cover;
        z-index: 1;
        opacity: 0.9;
    }
}