@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";


.price_btn {

    color: white;
    cursor: pointer;
    width: 360px;
    height: 56px;
    gap: 10px;

    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 500ms;

    &.or {
        background-color: red;
        border: none;
    }












    &:hover {
        @include empty-hover;
    }
}