@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";


.price_btn {
    color: white;
    cursor: pointer;
    width: 360px;
    height: 56px !important;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #E20D0F;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    &:hover {
        @include empty-hover;
    }
}