

.header {
  width: 100%;
  height: 200px;
  position: fixed;
  z-index: 1000;

  &_content {
    margin: auto;
    top: 0;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    &-mainLogo {
      width: 200px;
      height: 200px;
      z-index: 2;
    }
  }
}

.menu {
  position: fixed;
  top: 20px;
  right: 0; /* Hors de l'écran */
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 0.6s ease; /* Animation de glissement */
  z-index: 1;
}



.menu ul {
  list-style: none;
  display: flex; /* Les éléments <li> sont en ligne */
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin: 0 15px; /* Espacement horizontal entre les éléments */
}

.menu ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  background-color: transparent;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  transition: color 0.3s ease;
}

.menu ul li a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #E20D0F;
  transition: width 0.3s ease, left 0.3s ease;
}

.menu ul li a:hover:after {
  width: 100%;
  left: 0;
}

.menu_icon {
  position: fixed;
  top: 35px;
  right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 2;
}

.menu_icon .bar {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.5s ease;
}

.menu_icon.open .bar:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 8px;
}

.menu_icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu_icon.open .bar:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -8px;
}
