@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.motionHeader {
    position: fixed;
    width: 1550px;
    height: 150px;
    z-index: 3;
    translate: -50% -50%;
    top: 15%;
    left: 50%;

    &_socialLink {
        width: 200px;
        z-index: 3;
        position: absolute;
        bottom: -650px;
        right: 40px;

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 10px;
    }

    .icon-3d {
        padding: 15px;
        -webkit-animation: icon3d 200ms 10;
        animation: icon3d 200ms 10;
        color: #fff;

        &:hover {
            -webkit-animation: icon3d 200ms infinite;
            animation: icon3d 200ms infinite;
        }
    }

    @keyframes icon3d {
        0% {
            text-shadow: 5px 4px $blue-color, -5px -6px $red-main;
        }

        25% {
            text-shadow: -5px -6px $blue-color, 5px 4px $red-main;
        }

        50% {
            text-shadow: 5px -4px $blue-color, -8px 4px $red-main;
        }

        75% {
            text-shadow: -8px -4px $blue-color, -5px -4px $red-main;
        }

        100% {
            text-shadow: -5px 0 $blue-color, 5px -4px $red-main;
        }
    }


    &_content {
        padding-left: 25px;

        &-mainLogo {
            position: absolute;
            top: 0;
            right: 25px;
            width: 140px;
            height: 140px;
            z-index: 2;
        }

        &-leftSide {
            width: 648px;
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            gap: 55px;
            z-index: 2;
            justify-content: flex-start;

            & h1 {

                font-size: 130px;
                font-weight: 400;
                line-height: 130px;
                text-align: left;
                @include strong-font1
            }

            & p {
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                text-align: left;
                margin-bottom: 65px;
            }
        }
    }

}



.main_menu {

    width: 566px;
    height: 48px;
    top: 16px;
    left: 20px;
    margin-top: 16px;
    margin-left: 15px;
    padding: 10px 30px 10px 30px;
    gap: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #69696933;



    li {
        list-style-type: none;

        a {
            text-decoration: none;
            color: white;
            transition: 400ms;
            border-radius: 10px;
            padding: 5px;
            &:hover {
                @include red-hover;
                border: none;
            }
        }
    }

}

// .btn_header {
//     padding: 0px 10px 0px 10px;
//     height: 53px;
//     border: 1px solid #FFFFFF;
//     border-radius: 12px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 16px;
//     margin-right: 15px;
//     color: #FFFFFF;
//     text-decoration: none;
//     transition: 500ms;
//     &:hover {
//         @include empty-hover;
//     }
// }