@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.header {
    position: fixed;
    width: 1600px;
    height: 150px;
    z-index: 3;
    translate: -50% -50%;
    top: 100px;
    left: 50%;
    display: flex;
    &_content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: self-start;

        &-menu {
            padding: 0; 
            list-style: none; 
            display: table;
            width: 600px;
            text-align: center;
          
          li { 
            display: table-cell; 
            position: relative; 
            padding: 15px 0;
          }
          button {
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.15em;
            background-color: transparent;
            display: inline-block;
            padding: 15px 20px;
            position: relative;
          }
          button:after {    
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
          }
          button:hover:after { 
            width: 100%; 
            left: 0; 
          }
        }
    


        &-mainLogo {
            margin-top: -20px;
           margin-left: -50px;
            width: 200px;
            height: 200px;
            z-index: 2;
        }

    }
}

