@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
    width: 100%;
    height: 150px;
    background-color: black;
    padding-top: 75px;
    border-bottom: $red-border;
}


.mainMenu {

    margin: auto;
    width: 75%;
    height: 75px;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    border-bottom: $red-border;

    li {
        list-style-type: none;

        a {
            text-decoration: none;
            color: white;
        }
    }

}