@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
    width: 1452px;
    margin: auto;
    height: 150px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-main_logo {
        width: 150px;
        height: 150px;
        margin-right: 370px;
    }
}


.main_menu {

    width: 566px;
    height: 48px;
    top: 16px;
    left: 15px;
    margin-left: 10px;
    padding: 10px 30px 10px 30px;
    gap: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;


    li {
        list-style-type: none;

        a {
            text-decoration: none;
            color: white;
        }
    }

}

.btn_header {
    padding: 0px 10px 0px 10px;
    height: 53px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #FFFFFF;
    text-decoration: none;
}