@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";



.faq {
    width: 1600px;

    margin: auto;
    margin-bottom: 100px;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 0 50px 0 50px;

    &_container {
        
        border: 1px solid #FFFFFF1A;
        min-height: 95vh;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 95px;
        width: 1600px;
        padding-left: 80px;
        background-color: #3D1313;

    }

    &_title {
        @include strong-font2;
        // margin-left: 65px;
        margin-top: 0px;
        padding-bottom: 20px;
    }

    &_txt {
        padding-bottom: 70px;
    }

    &_img {
        bottom: 90px;
        right: 45px;
        height: 800px;
        border-radius: 16px;
    }

    &_content {
        min-height: 700px;
        width: 100%;
        margin: auto;

        &-collapsible {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 16px;
            border: 2px solid rgba(255, 255, 255, 0.1019607843);
            
            max-width: 100%;
            min-height: 100%;

        }
    }
}