@import 'reset.scss';
@import 'variables.scss';
@import 'mixins.scss';


body {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  background-color: #141414;
  color: white;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

