@import 'reset.scss';
@import 'variables.scss';
@import 'mixins.scss';

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow: hidden;  // Désactive les barres de scroll
  height: 100%;  
}

body {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  background-color: #141414;
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow: hidden;  // Désactive les barres de scroll
  height: 100%;   /* Assure un défilement fluide */
}

#tsparticles {
  height: 100vh !important; /* Force la hauteur à 100% de la hauteur de la fenêtre */
  width: 100% !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: -1 !important;  /* S'assurer que le canvas reste en arrière-plan */
}
.fp-section {
  margin: 0;
  padding: 0;
  height: 100vh;  // Chaque section prend 100% de la hauteur de l'écran
  width: 100%;    // Chaque section prend 100% de la largeur
}

.fp-watermark {
  display: none;
}
