@import "../styles/variables.scss";
@import "../styles/mixins.scss";


body {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  background-color: #141414;
  color: white;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: "Bebas Neue", sans-serif;
}

