/* FONT */

@mixin strong-font1 {
  font-family: $typo-1;
  font-size: 130px;
}
@mixin strong-font2 {
  font-family: $typo-1;
  font-size: 70px;
}
@mixin strong-font3 {
  font-family: $typo-1;
  font-size: 36px;
}