/* FONT */

@mixin strong-font1 {
  font-family: $typo-1;
  font-size: 130px;
}
@mixin strong-font2 {
  font-family: $typo-1;
  font-size: 70px;
}
@mixin strong-font3 {
  font-family: $typo-1;
  font-size: 36px;
}

@mixin red-hover {
  background-color: #808080;
  border: 1px solid #FFFFFF;
}

@mixin empty-hover {
  background-color: #E20D0F;
  border: 1px solid #FFFFFF;
}