@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";




.review_section {
    width: 1320px;
    max-height: 691px;
    margin: auto;
    margin-bottom: 110px;
    &-title {

        width: 641px;
        max-height: 144px;

        h3 {
            @include strong-font2;
            margin-bottom: 15px;
        }
    
        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            text-align: left;
            margin-bottom: 30px;

        }
    }
    &-card_pos {
        display: flex;
        justify-content: center;
        gap: 100px;
    }

}